.svg {
    min-width: 200px;
    min-height: 200px;
}

.mySlides-on {
    display: block;
}

.mySlides-off {
    display: none;
}

.slide-img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

/* Caption text */
.name {
    color: #0e0d0d;
    font-size: 25px;
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    text-align: center;
}

.description {
    color: #0e0d0d;
    font-size: 15px;
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-around;
}

.player {
    position: fixed;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.player-role-pic {
    min-width: 10%;
    min-height: 10%;
    max-width: 10%;
    max-height: 10%;
}

/* @media only screen and (max-width: 600px) {
    .player-role-pic {
        min-width: 15%;
        min-height: 15%;
        max-width: 70%;
        max-height: 70%;
    }
} */
