.heading-Trans {
    display: inline-block;
    background-image: -webkit-gradient(linear, left top, right top, from(red), to(#f4b400));
    background-image: linear-gradient(to right, red, #f4b400);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.heading-Trans:hover {
    -webkit-transform: skewY(0deg) skewX(5deg) scale(1.5);
    transform: skewY(0deg) skewX(5deg) scale(1.5);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.6);
}

@-webkit-keyframes moveIndown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20rem) translateX(-50%);
        transform: translateY(-20rem) translateX(-50%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-5rem) translateX(-50%);
        transform: translateY(-5rem) translateX(-50%);
    }
}

@keyframes moveIndown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20rem) translateX(-50%);
        transform: translateY(-20rem) translateX(-50%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-5rem) translateX(-50%);
        transform: translateY(-5rem) translateX(-50%);
    }
}

@-webkit-keyframes show {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 75em) {
    .btnbox {
        top: 66%;
        width: 33%;
    }
}

.btnbox_btn--animation {
    width: 17rem;
    display: inline-block;
    padding: 1rem 2.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
    background: -webkit-gradient(linear, left top, right top, from(red), to(#f4b400));
    background: linear-gradient(to right, red 0%, #f4b400 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.3rem;
    border-radius: 2rem;
    border: 0.1rem solid wheat;
    overflow: hidden;
    background-color: #353030;
    -webkit-animation-name: show;
    animation-name: show;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    margin-top: 2rem;
}

.btnbox_btn--animation:hover {
    -webkit-transform: translateY(-0.2rem);
    transform: translateY(-0.2rem);
    -webkit-box-shadow: 0 1rem 1.5rem black;
    box-shadow: 0 1rem 1.5rem black;
    border: 3px solid #f4b400;
    font-size: 1.35rem;
}

.btnbox_btn--animation:active {
    -webkit-box-shadow: 0 0.8rem 1.1rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.8rem 1.1rem rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-0.05rem);
    transform: translateY(-0.05rem);
}

@media (max-width: 37.5em) {
    .btnbox {
        width: 20rem;
        font-size: 3rem;
        top: 60%;
    }
}

@media (max-width: 56.25em) {
    .btnbox {
        width: 20rem;
        font-size: 3rem;
        top: 62%;
    }
}

@media (max-width: 75em) {
    .btnbox {
        left: 50%;
    }
}
/*# sourceMappingURL=style.css.map */
